@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css);
*{
	margin : 0px auto;
	font-family: 'Poppins', sans-serif;
	text-align:center;
}
.container{
	width: 100%;
	background: #B7EBD3;
	padding: 15px;
}
.top{
	display :flex;
	margin-bottom: 25px;
	
}
.title{
	text-align:center;
	
}
.title-space{
	width:400px;
}
.back{
	margin-left:-500px;
}
.table{
	margin:auto;
	width:800px;
	border: 0.8px solid white;
	margin-bottom:25px;
}
.table .colums{
	background-color: #B5F564;
}
.order{
	margin-right:-500px;
}
.logout-boton{
	background: #B7EBD3;
	color: #95A0EE;
    text-decoration: none;
    border : 1px solid  #95A0EE;
    padding: 5px;
    width: 110px;
    text-align: center;
    align-self: baseline;
    border-radius: 50px;
    margin-right: 40px;
}
.link{
	background: #95A0EE;
	color: white;
    text-decoration: none;
    border : 1px solid  #95A0EE;
    padding: 5px;
    width: 110px;
    text-align: center;
    align-self: baseline;
    border-radius: 50px;
    margin-right: 40px;
    margin-top: 25px;
}
.delete{
	background: #FAE55C;
	color: white;
    text-decoration: none;
    border : 1px solid  #FAE55C;
    padding: 5px;
    width: 110px;
    text-align: center;
    align-self: baseline;
    border-radius: 50px;
    margin-right: 40px;
    margin-top: 25px;
	
}
